<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cricket World Cup 2023 Venues</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Include custom CSS for your styles -->

    {% load static %}


    
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">
        <img src="https://resources.pulse.icc-cricket.com/ICC/photo/2023/04/02/57453dd9-5caf-43de-9cd8-0f8ab5b27cf3/india-2023-logo.PNG" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
    <a class="navbar-brand" href="{% url "index" %}">ICC Cricket World Cup 2023</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url "index" %}">Players<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "index" %}">Team</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url "venues" %}">Venues<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url "index" %}">Fixtures</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Prediction</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>

      <div class="container">
        <h1 class="text-center">CWC23 Venue Guide</h1>
    
        <!-- Venue Cards -->
        <div class="row">
            {% for venue in venues %}
            <div class="col-md-4">
                <a href="{% url 'venue_detail' venue.id %}">
                    <div class="card venue-card">
                        <!-- ... your card content ... -->
                        <div class="card venue-card">
                          <div class="image-container">
                              <img src="{{ venue.image.url }}" alt="{{ venue.name }} Image" width= "100%" height="250">
                          </div>
                          <div class="card-body">
                              <h5 class="card-title">{{ venue.name }}</h5>
                              <p class="card-text">{{ venue.description }}</p>
                              <p class="card-text">Location: {{ venue.location }}</p>
                          </div>
                      </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
  
    


    
    </div>

    <!-- Include Bootstrap and jQuery JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
